<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title }} &bull; {{ metadata.title }}</title>
  {# START: Preload #}
  <link crossorigin rel="preload" href="/assets/fonts/lato-v16-latin-700.woff2" as="font" type="font/woff2">
  <link crossorigin rel="preload" href="/assets/fonts/lato-v16-latin-regular.woff2" as="font" type="font/woff2">
  {# END: Preload #}
  {% set css %}
    {% include "../../assets/css/reset.css" %}
    {% include "../../assets/css/fonts.css" %}
    {% include "../../assets/css/inline.css" %}
  {% endset %}
  <style nonce="tli@csp">{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "../../assets/js/inline.js" %}
  {% endset %}
  {#<script nonce="tli@csp">{{ js | jsmin | safe }}</script>#}
  {# START: Favicons #}
  {# IE 9 < ICO: 32x32 <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]--> #}
  {# Touch Icons: iOS and Android PNG: 180x180 #}
  <link href="/assets/img/tlicycling-icon-180.png" rel="apple-touch-icon">
  {# Desktop: Chrome, Firefox, IE 11+, Opera, Safari: 192x192 #}
  <link href="/assets/img/tlicycling-icon-192.png" rel="icon">
  {# END: Favicons #}
  {# START: OG, Twitter #}
  <meta property="og:site_name" content="{{ metadata.title }}">
  <meta property="og:description" content="{{ metadata.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ metadata.url }}">
  <meta property="og:title" content="{{ metadata.title }}">
  <meta property="og:image" content="{{ metadata.shareImage }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ metadata.twitter }}">
  {# END: OG, Twitter #}
  {# START: manifest #}
  <link href="/manifest.webmanifest" rel="manifest">
  <meta content="#004182" name="theme-color">
  {# END: manifest #}
</head>
