<h2 class="title">How to join</h2>
<p>Go to the ‘Join or Renew button, where you will directed to RiderHQ. You have the choice of paying online via PayPal (with the option of paying by debit or credit card if you do not have a PayPal account), or sending a cheque with your application form by post. You will be emailed a membership card that must be produced when requested at any event entered throughout the year.</p>
<div class="btn-group btn-group-sm">
  <div><a class="btn btn-white-outline" href="https://www.riderhq.com/groups/tli-cycling-0/join">Join</a></div>
  <div>or</div>
  <div><a class="btn btn-white-outline" href="https://www.riderhq.com/renew">Renew</a></div>
</div>