<nav class="nav">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-list">
  {%- for entry in navPages %}
    <li class="nav-item">
      <a {% if entry.url == page.url %} aria-current="page" {% endif %}class="nav-link" href="{{ entry.url | url }}"{% if entry.external %} rel="noopener noreferrer" target="_blank"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
