---
layout: layouts/base.njk
section: home
---
<meta name="description" content="TLI Cycling, age-related cycle sport for all. Supporting grassroots cycle racing for 35 Years" data-helmet />
{# START: Netlify Identity Widget for Netlify CMS
  <link rel="dns-prefetch" href="https://identity.netlify.com" data-helmet>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js" data-helmet></script>
END: Netlify Identity Widget for Netlify CMS #}
{# START: Structured Data #}
<script type="application/ld+json" data-helmet>
{
  "@context" : "http://schema.org",
  "@type" : "SportsOrganization",
  "foundingDate": "1982",
  "name": "{{ metadata.title }}",
  "legalName": "TLI Cycling Ltd",
  "logo" : "{{ metadata.logo }}",
  "sport": "Cycling",
  "url" : "{{ metadata.url }}"
}
</script>
{# END: Structured Data #}

<article class="container">

  <aside class="notice">
    <p>Latest News: <a href="/news/tli-cycling-organisers-update-for-events-in-2021-and-all-current-members-for-info/">TLI Cycling Organisers Update for Events in 2021 (and All Current Members for Info)</a></p>
  </aside>

  <section class="intro">
    {% if about.media %}
    <div class="intro-media">
      <figure class="ar ar-4x3">
        <img alt="{{ about.media.alt }}" class="arm" src="{{ about.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="intro-body">
      <h1>TLI Cycling</h1>
      {% if about.title %}<h2 class="title">{{ about.title }}</h2>{% endif %}
      {% if about.subtitle %}<p class="subtitle">{{ about.subtitle }}</p>{% endif %}
      {% markdownit %}{{ about.body | safe }}{% endmarkdownit %}
      {% if about.button.link and about.button.text %}<a class="btn btn-red" href="{{ about.button.link | url }}">{{ about.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="promo">
    {% if history.media %}
    <div class="promo-media">
      <figure class="ar ar-1x1">
        <img alt="{{ history.media.alt }}" class="arm" loading="lazy" src="{{ history.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-blue tc-white promo-body">
      {% if history.title %}<h3 class="title">{{ history.title }}</h3>{% endif %}
      {% if history.subtitle %}<p class="subtitle">{{ history.subtitle }}</p>{% endif %}
      {% markdownit %}{{ history.body | safe }}{% endmarkdownit %}
      {% if history.button.link and history.button.text %}<a class="btn btn-white-outline" href="{{ history.button.link | url }}">{{ history.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="promo">
    {% if membership.media %}
    <div class="promo-media">
      <figure class="ar ar-1x1">
        <img alt="{{ membership.media.alt }}" class="arm" loading="lazy" src="{{ membership.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-red tc-white promo-body">
      {% if membership.title %}<h3 class="title">{{ membership.title }}</h3>{% endif %}
      {% if membership.subtitle %}<p class="subtitle">{{ membership.subtitle }}</p>{% endif %}
      {% markdownit %}{{ membership.body | safe }}{% endmarkdownit %}
      {% if membership.button.link and membership.button.text %}<a class="btn btn-white-outline" href="{{ membership.button.link | url }}">{{ membership.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="promo">
    {% if eventorganisation.media %}
    <div class="promo-media">
      <figure class="ar ar-1x1">
        <img alt="{{ eventorganisation.media.alt }}" class="arm" loading="lazy" src="{{ eventorganisation.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-blue tc-white promo-body">
      {% if eventorganisation.title %}<h3 class="title">{{ eventorganisation.title }}</h3>{% endif %}
      {% if eventorganisation.subtitle %}<p class="subtitle">{{ eventorganisation.subtitle }}</p>{% endif %}
      {% markdownit %}{{ eventorganisation.body | safe }}{% endmarkdownit %}
      {% if eventorganisation.button.link and eventorganisation.button.text %}<a class="btn btn-white-outline" href="{{ eventorganisation.button.link | url }}">{{ eventorganisation.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="news">
    {% if news.title %}<h3 class="title">{{ news.title }}</h3>{% endif %}
    {% if news.subtitle %}<p class="subtitle">{{ news.subtitle }}</p>{% endif %}
    {% markdownit %}{{ news.body | safe }}{% endmarkdownit %}
    <section class="news-items">
      {% set postslist = collections.news | reverse | limitposts(4) | reverse %}
      {% include "components/postslist.njk" %}
    </section>
    <a class="btn" href="/news/">See more TLI Cycling news</a>
  </section>

</article>

{# START: Netlify Identity Widget for Netlify CMS
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
END: Netlify Identity Widget for Netlify CMS #}
