---
layout: layouts/base.njk
section: membership
---

<article class="container">

  <section class="membership">
    <div class="membership-body">
      <h1 class="pretitle">TLI Cycling Membership</h1>
      {% if annualMembership.title %}<h2 class="title">{{ annualMembership.title }}</h2>{% endif %}
      {% markdownit %}{{ annualMembership.body | safe }}{% endmarkdownit %}
    </div>
    <div class="bgc-red tc-white promo membership-aside">
      <div class="promo-body">
        {% include "components/howtojoin.njk" %}
      </div>
    </div>
  </section>

  {% if dayMembership.title or dayMembership.body %}
  <section class="bgc-blue tc-white promo">
    <div class="promo-body">
      {% if dayMembership.title %}<h2 class="title">{{ dayMembership.title }}</h2>{% endif %}
      {% markdownit %}{{ dayMembership.body | safe }}{% endmarkdownit %}
    </div>
  </section>
  {% endif %}

  <section class="promo">
    <div class="promo-body">
      {% if ageCategories.title %}<h2 class="title">{{ ageCategories.title }}</h2>{% endif %}
      {% markdownit %}{{ ageCategories.body | safe }}{% endmarkdownit %}

{% markdownit %}
| Youth Categories | Male & Female |
| - | - |
| Aged 6 and over until 31 December of year in which 8th birthday falls | YE |
| From 1 January in year which 9th birthday falls to 31 December in year which 10th birthday falls | YD |
| From 1 January in year which 11th birthday falls to 31 December in year which 12th birthday falls | YC |
| From 1 January in year which 13th birthday falls to 31 December in year which 14th birthday falls | YB |
| From 1 January in year which 15th birthday falls to 31 December in year which 16th birthday falls | YA |

| Para-Cycling Categories | Male & Female |
| - | - |
| MC 1 & 2 |  will compete with the age group 10 years older. (Two Categories Older). |
| MC 3 | will compete with the age group 5 years older. (One Categories Older). |
| MC 4 & 5 | will compete with their correct age related group. (No Category Change). |

| Junior Age Categories | Male | Female |
| - | - | - |
| 16 or 17 | J | WJ |

| Senior Age Categories (Riders will change category on 1st January of the year of their appropriate birthday) | Male | Female |
| - | - | - |
| 18 – 29 | S | C |
| 30 – 39 | M | C |
| 40 – 44 | A | D |
| 45 – 49 | B | E |
| 50 – 54 | C | F |
| 55 – 59 | D | G |
| 60 – 64 | E | H |
| 65 – 69 | F | H |
| 70 - 74 | G | H |
| 75+ | H | H |
{% endmarkdownit %}

    </div>
  </section>

  <section class="promo">
    <div class="promo-body">
      {% if membershipFees.title %}<h2 class="title">{{ membershipFees.title }}</h2>{% endif %}
      {% markdownit %}{{ membershipFees.body | safe }}{% endmarkdownit %}
      <div class="tile-grid tile-grid-x3">
        <div class="tile">
          <h3 class="subtitle">Youth</h3>
          <p>£10/year 6-16 years old</p>
          <p><small>Membership from 1st January 2022 - End of December 2022</small></p>
          <a href="https://www.riderhq.com/groups/tli-cycling-0/join">Join</a> or <a href="https://www.riderhq.com/renew">Renew</a>
        </div>
        <div class="tile">
          <h3 class="subtitle">Junior & Senior</h3>
          <p>£20/year 16 years plus</p>
          <p><small>Membership from 1st January 2022 - End of December 2022</small></p>
          <a href="https://www.riderhq.com/groups/tli-cycling-0/join">Join</a> or <a href="https://www.riderhq.com/renew">Renew</a>
        </div>
        <div class="tile">
          <h3 class="subtitle">Associate (Non racing)</h3>
          <p>£10/year</p>
          <p><small>Membership from 1st January 2022 - End of December 2022</small></p>
          <a href="https://www.riderhq.com/groups/tli-cycling-0/join">Join</a> or <a href="https://www.riderhq.com/renew">Renew</a>
        </div>
      </div>
    </div>
  </section>

</article>
