---
layout: layouts/base.njk
section: news
permalink: /news/index.html
---
<meta data-helmet content="Latest news from TLI Cycling covering road races, time trials, cyclo-cross, track racing, mountain bike, and cycle speedway." name="description">

<article class="container">

  <div class="news">

    <section class="news-title">
      {{ layoutContent | safe }}
    </section>

    <section class="news-items">
      {% set postslist = collections.news %}
      {% include "components/postslist.njk" %}
    </section>

  </div>

</article>
