<footer class="bgc-red-alt px-1 py-2 tc-white md:px-2 md:py-4 md:text-center">
  <nav class="mb-2 text-sm">
    <ul>
      {%- for post in collections.all -%}
      {% if post.data.excludeFooterNav != true %}
      <li><a class="tc-white" href="{{ post.url }}">{{ post.data.title }}</a></li>
      {% endif %}
      {%- endfor -%}
    </ul>
  </nav>
  <img alt="TLI Cycling" class="block mb-2 mx-auto" height="91" loading="lazy" src="/assets/img/tlicycling-logo-footer.png" width="160">
  <p class="mb-05"><small class="text-sm">© {{ date | footerDate }} | TLI Cycling Ltd is a company limited by guarantee and registered in England and Wales under Company number 7316143.</small></p>
  <p class="mb-0"><small class="text-xs">The registered office is at Heald Solicitors, 4, Bramley Road, Mount Farm, Milton Keynes MK1 1PT</small></p>
</footer>
