<footer class="bgc-red-alt px-1 py-2 tc-white md:px-2 md:py-4 md:text-center">
  <img alt="TLI Cycling" class="block mb-2 mx-auto" height="91" src="/assets/img/tlicycling-logo-footer.png" width="160">
  <small>
    <p class="mb-05">© {{ date | footerDate }} | TLI Cycling Ltd is a company limited by guarantee and registered in England and Wales under Company number 7316143.</p>
    <p class="mb-0">The registered office is at Heald Solicitors, 4, Bramley Road, Mount Farm, Milton Keynes MK1 1PT</p>
  </small>
</footer>
