<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title }} &bull; {{ metadata.title }}</title>
  <meta name="description" content="{{ metadata.description }}">
  {# START: Preload #}
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <link crossorigin rel="preload" href="/assets/fonts/lato-v16-latin-700.woff2" as="font" type="font/woff2">
  <link crossorigin rel="preload" href="/assets/fonts/lato-v16-latin-regular.woff2" as="font" type="font/woff2">
  {# END: Preload #}
  {% set css %}
    {% include "assets/css/reset.css" %}
    {% include "assets/css/fonts.css" %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
