<header class="bgc-blue py-075 px-1 text-center md:text-left">
  <div class="container md:flex md:justify-between">
    <a class="inline-block mb-1 tc-white md:mb-0" href="{{ '/' | url }}">{{ metadata.title }}</a>
    {% include "components/nav.njk" %}
  </div>
</header>