<header class="bgc-blue py-05 px-1">
  <div class="container flex justify-between">
    <a class="tc-white" href="{{ '/' | url }}">{{ metadata.title }}</a>
    {% include "components/nav.njk" %}
  </div>
</header>