<header class="header">
  <div class="container header-inner">
    <div class="brand">
      <a class="brand-link" href="{{ '/' | url }}"><svg aria-label="TLI Cycling homepage" class="brand-logo" height="48" width="82"><use xlink:href="#TLICyclingLogoMono"></use></svg></a>
    </div>
    {% include "components/nav.njk" %}
  </div>
</header>