<nav class="nav">
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="nav-list">
  {%- for entry in navPages %}
    <li class="nav-item">
      <a class="nav-link{% if entry.url == page.url %} nav-link--current{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
