<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="flex flex-wrap">
  {%- for entry in navPages %}
    <li class="mx-05">
      <a class="px-05 tc-white" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>
</nav>
