---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
permalink: /tags/{{ tag | slugify }}/
layout: layouts/base.njk
eleventyExcludeFromCollections: true
eleventyExcludeFromSitemap: true
renderData:
  title: "Tagged “{{ tag }}”"
---
<article class="container">

  <div class="news">

    <section class="news-title">
      <h1>News posts tagged “{{ tag }}”</h1>
    </section>

    <section class="news-items">
      {% set postslist = collections[ tag ] %}
      {% include "components/postslist.njk" %}
      <nav>
        <a href="{{ '/news/' | url }}">← News index</a>
      </nav>
    </section>

  </div>

</article>
