<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% include "components/head.njk" %}
  <body class="bgc-white tc-grey">
    {% include "components/header.njk" %}
    <main class="px-1 py-2 md:py-4">
      {{ layoutContent | safe }}
    </main>
    {% include "components/footer.njk" %}
  </body>
</html>
