---
layout: layouts/base.njk
section: home
---

<article class="container">

  <section class="mb-2 px-1 md:flex md:mb-3">
    {% if about.media %}
    <div class="md:w-35 lg:w-40">
      <figure class="ar ar-4x3">
        <img alt="{{ about.media.alt }}" class="arm" src="{{ about.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="md:w-65 md:pl-1 lg:pl-2 lg:w-60">
      <h1 class="mb-025">TLI Cycling</h1>
      {% if about.title %}<h2 class="title">{{ about.title }}</h2>{% endif %}
      {% if about.subtitle %}<p class="subtitle">{{ about.subtitle }}</p>{% endif %}
      {% markdownit %}{{ about.body | safe }}{% endmarkdownit %}
      {% if about.button.link and about.button.text %}<a class="btn btn-red {{ about.button.classes }}" href="{{ about.button.link | url }}">{{ about.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="md:flex">
    {% if history.media %}
    <div class="md:w-50">
      <figure class="ar ar-1x1">
        <img alt="{{ history.media.alt }}" class="arm" src="{{ history.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-blue order-first p-1 py-2 md:p-2 tc-white lg:p-3 md:w-50">
      {% if history.title %}<h3 class="title">{{ history.title }}</h3>{% endif %}
      {% if history.subtitle %}<p class="subtitle">{{ history.subtitle }}</p>{% endif %}
      {% markdownit %}{{ history.body | safe }}{% endmarkdownit %}
      {% if history.button.link and history.button.text %}<a class="btn btn-white-alt" href="{{ history.button.link | url }}">{{ history.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="md:flex">
    {% if membership.media %}
    <div class="md:w-50">
      <figure class="ar ar-1x1">
        <img alt="{{ membership.media.alt }}" class="arm" src="{{ membership.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-red p-1 py-2 md:p-2 tc-white lg:p-3 md:w-50">
      {% if membership.title %}<h3 class="title">{{ membership.title }}</h3>{% endif %}
      {% if membership.subtitle %}<p class="subtitle">{{ membership.subtitle }}</p>{% endif %}
      {% markdownit %}{{ membership.body | safe }}{% endmarkdownit %}
      {% if membership.button.link and membership.button.text %}<a class="btn btn-white-alt" href="{{ membership.button.link | url }}">{{ membership.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="mb-3 md:flex">
    {% if eventorganisation.media %}
    <div class="md:w-50">
      <figure class="ar ar-1x1">
        <img alt="{{ eventorganisation.media.alt }}" class="arm" src="{{ eventorganisation.media.src }}">
      </figure>
    </div>
    {% endif %}
    <div class="bgc-blue order-first p-1 py-2 md:p-2 tc-white lg:p-3 md:w-50">
      {% if eventorganisation.title %}<h3 class="title">{{ eventorganisation.title }}</h3>{% endif %}
      {% if eventorganisation.subtitle %}<p class="subtitle">{{ eventorganisation.subtitle }}</p>{% endif %}
      {% markdownit %}{{ eventorganisation.body | safe }}{% endmarkdownit %}
      {% if eventorganisation.button.link and eventorganisation.button.text %}<a class="btn btn-white-alt" href="{{ eventorganisation.button.link | url }}">{{ eventorganisation.button.text }}</a>{% endif %}
    </div>
  </section>

  <section class="px-1 mb-2 mx-auto md:px-2 lg:px-0 lg:w-75">
    {% if news.title %}<h3 class="title">{{ news.title }}</h3>{% endif %}
    {% if news.subtitle %}<p class="subtitle">{{ news.subtitle }}</p>{% endif %}
    {% markdownit %}{{ news.body | safe }}{% endmarkdownit %}
    <section class="mt-2">
      {% set postslist = collections.news %}
      {% include "components/postslist.njk" %}
    </section>
  </section>

</article>
