---
layout: layouts/base.njk
section: membership
---

<article class="container">

  <section class="mb-2 md:flex md:mb-3">
    <div class="mb-2 px-1 md:mb-0 md:px-2 lg:pr-4 md:w-60 lg:w-65">
      <h1 class="mb-025">TLI Cycling Membership</h1>
      {% if annualMembership.title %}<h2 class="title">{{ annualMembership.title }}</h2>{% endif %}
      {% markdownit %}{{ annualMembership.body | safe }}{% endmarkdownit %}
    </div>
    <div class="bgc-red p-1 tc-white md:p-2 md:w-40 lg:w-35">
      {% include "components/howtojoin.njk" %}
    </div>
  </section>

  <section class="bgc-blue mb-2 p-1 tc-white md:mb-3 md:p-2">
    {% if dayMembership.title %}<h2 class="title">{{ dayMembership.title }}</h2>{% endif %}
    {% markdownit %}{{ dayMembership.body | safe }}{% endmarkdownit %}
  </section>

  <section class="mb-2 p-1 md:p-2">
    {% if ageCategories.title %}<h2 class="title">{{ ageCategories.title }}</h2>{% endif %}
    {% markdownit %}{{ ageCategories.body | safe }}{% endmarkdownit %}
  </section>

  <section class="mb-2 p-1 md:p-2">
    {% if membershipFees.title %}<h2 class="title">{{ membershipFees.title }}</h2>{% endif %}
    {% markdownit %}{{ membershipFees.body | safe }}{% endmarkdownit %}
    <p>Youth £FREE/year 6-16 years old Membership from 1st February 2020 – 31st January 2021</p>
    <p>Junior £10/year 16 or 17 years old Membership from 1st February 2020 – 31st January 2021</p>
    <p>Senior £15/year 18 years plus Membership from 1st February 2020 – 31st January 2021</p>
  </section>

</article>