---
layout: layouts/base.njk
section: membership
---

<article class="container">

  <section class="membership">
    <div class="membership-body">
      <h1 class="pretitle">TLI Cycling Membership</h1>
      {% if annualMembership.title %}<h2 class="title">{{ annualMembership.title }}</h2>{% endif %}
      {% markdownit %}{{ annualMembership.body | safe }}{% endmarkdownit %}
    </div>
    <div class="bgc-red tc-white promo membership-aside">
      <div class="promo-body">
        {% include "components/howtojoin.njk" %}
      </div>
    </div>
  </section>

  <section class="bgc-blue tc-white promo">
    <div class="promo-body">
      {% if dayMembership.title %}<h2 class="title">{{ dayMembership.title }}</h2>{% endif %}
      {% markdownit %}{{ dayMembership.body | safe }}{% endmarkdownit %}
    </div>
  </section>

  <section class="promo">
    <div class="promo-body">
      {% if ageCategories.title %}<h2 class="title">{{ ageCategories.title }}</h2>{% endif %}
      {% markdownit %}{{ ageCategories.body | safe }}{% endmarkdownit %}

{% markdownit %}
| Youth Categories | Male & Female |
| - | - |
| Aged 6 and over until 31 December of year in which 8th birthday falls | YE |
| From 1 January in year which 9th birthday falls to 31 December in year which 10th birthday falls | YD |
| From 1 January in year which 11th birthday falls to 31 December in year which 12th birthday falls | YC |
| From 1 January in year which 13th birthday falls to 31 December in year which 14th birthday falls | YB |
| From 1 January in year which 15th birthday falls to 31 December in year which 16th birthday falls | YA |

| Para-Cycling Categories | Male & Female |
| - | - |
| MC 1 & 2 |  will compete with the age group 10 years older. (Two Categories Older). |
| MC 3 | will compete with the age group 5 years older. (One Categories Older). |
| MC 4 & 5 | will compete with their correct age related group. (No Category Change). |

| Junior Age Categories | Male | Female |
| - | - | - |
| 16 or 17 | J | WJ |

| Senior Age Categories | Male | Female |
| - | - | - |
| 18 – 29 | S | B |
| 30 – 39 | M | C |
| 40 – 44 | A | D |
| 45 – 49 | B | E |
| 50 – 54 | C | F |
| 55 – 59 | D | G |
| 60 – 64 | E | H |
| 65 – 69 | F | H |
| 70 - 74 | G | H |
| 75+ | H | H |
{% endmarkdownit %}

    </div>
  </section>

  <section class="promo">
    <div class="promo-body">
      {% if membershipFees.title %}<h2 class="title">{{ membershipFees.title }}</h2>{% endif %}
      {% markdownit %}{{ membershipFees.body | safe }}{% endmarkdownit %}
      <p>Youth £FREE/year 6-16 years old Membership from 1st February 2020 – 31st January 2021</p>
      <p>Junior £10/year 16 or 17 years old Membership from 1st February 2020 – 31st January 2021</p>
      <p>Senior £15/year 18 years plus Membership from 1st February 2020 – 31st January 2021</p>
    </div>
  </section>

</article>