---
layout: layouts/base.njk
section: news
permalink: /news/index.html
---
<article class="container">

  <section class="px-1 mx-auto md:px-2 lg:px-0 lg:w-75">
    {{ layoutContent | safe }}
  </section>

</article>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
