---
layout: layouts/base.njk
section: news
permalink: /news/index.html
---
<article class="container">

  <div class="news">

    <section class="news-title">
      {{ layoutContent | safe }}
    </section>

    <section class="news-items">
      {% set postslist = collections.news %}
      {% include "components/postslist.njk" %}
    </section>

  </div>

</article>
