---
layout: layouts/base.njk
section: page
---

<div class="container py-2">

  {% if articleLayout == 'medialeft' %}
  <article class="md:flex">
    <figure class="md:w-50">
      <img alt="{{ media.alt }}" src="{{ media.src }}">
    </figure>
    <div class="px-1 md:w-50">
      {{ layoutContent | safe }}
    </div>
  </article>

  {% elseif articleLayout == 'textonlysmall' %}
  <article class="md:flex">
    <div class="mx-auto md:w-75">
      {{ layoutContent | safe }}
    </div>
  </article>

  {% else %}

  <article>
    <div>
      {{ layoutContent | safe }}
    </div>
  </article>

  {% endif %}

</div>
