---
layout: layouts/base.njk
section: page
---

<article class="container">

  {% if articleLayout == 'medialeft' %}
  {% endif %}

  {% if media.src %}
  <section class="page--withmedia">
    <div class="page-media">
      <figure class="ar ar-4x3">
        <img alt="{{ media.alt }}" class="arm" loading="lazy" src="{{ media.src }}">
      </figure>
    </div>
    <div class="page-body mdit">
      {{ layoutContent | safe }}
    </div>
  </section>

  {% else %}

  <section class="page--nomedia">
    <div class="page-body mdit">
      {{ layoutContent | safe }}
    </div>
  </section>

  {% endif %}

</article>
